{% extends "base.html" %}

{% block page_content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Facility</th>
      <th scope="col">Type</th>
      <th scope="col">Number of Beds</th>
      <th scope="col">Region</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip</th>
      <th scope="col">Telefone</th>
      <th scope="col">Fax</th>
      <th scope="col">Admin</th>
      <th scope="col">Admin Email</th>
      <th scope="col">SW</th>
      <th scope="col">SW Email</th>
      <th scope="col">Markt/Adminssion</th>
      <th scope="col">Markt/Adminssion Email</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
{% endblock %}